.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2F80ED;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  opacity: 1;
  transition: opacity .4s ease-out .2s;
}

.feynman__link:hover {
  opacity: .5;
}
